.rs-slider-block {
  padding-top: 110px;
}
@media (max-width: 1439.98px) {
  .rs-slider-block {
    padding-top: 86.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-slider-block {
    padding-top: 63.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider-block {
    padding-top: 40px;
  }
}
.rs-slider-block.rs-gallery {
  padding-bottom: 110px;
}
@media (max-width: 1439.98px) {
  .rs-slider-block.rs-gallery {
    padding-bottom: 86.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-slider-block.rs-gallery {
    padding-bottom: 63.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider-block.rs-gallery {
    padding-bottom: 40px;
  }
}
.rs-slider-block__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .rs-slider-block__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rs-slider-block__text {
  padding: 31px 0px 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1439.98px) {
  .rs-slider-block__text {
    padding: 10px 0px;
  }
}
@media (max-width: 767.98px) {
  .rs-slider-block__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-slider-block__text h4 {
  color: #b5b5b5;
}
@media (max-width: 991.98px) {
  .rs-slider-block__text svg {
    max-width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 767.98px) {
  .rs-slider-block__text svg {
    display: none;
  }
}
.rs-slider-block__text svg g *[fill] {
  fill: #b5b5b5;
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
.rs-slider-block__text svg g *[stroke] {
  stroke: #b5b5b5;
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}
.rs-slider-block__text svg g._active *[fill] {
  fill: var(--primary-color);
}
.rs-slider-block__text svg g._active *[stroke] {
  stroke: var(--primary-color);
}
.rs-slider-block__slider {
  margin-top: 60px;
  overflow: visible;
}
@media (max-width: 1439.98px) {
  .rs-slider-block__slider {
    margin-top: 50px;
  }
}
@media (max-width: 1169.98px) {
  .rs-slider-block__slider {
    margin-top: 40px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider-block__slider {
    margin-top: 30px;
  }
}
.rs-slider-block__swiper {
  counter-reset: slider-count;
}
.rs-slider-block__slide {
  min-height: 760px;
  height: auto;
}
@media (max-width: 1439.98px) {
  .rs-slider-block__slide {
    min-height: 600px;
  }
}
@media (max-width: 1169.98px) {
  .rs-slider-block__slide {
    min-height: 440px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider-block__slide {
    min-height: 280px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider-block.rs-event .line-cursor {
    display: none;
  }
}

.rs-services__item {
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  .rs-services__item:hover .rs-services__foot img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.rs-services__img {
  width: 100%;
  height: 100%;
  max-height: 760px;
}
.rs-services__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/card-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.rs-services__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-services__desc {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 66px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1439.98px) {
  .rs-services__desc {
    padding: 50.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__desc {
    padding: 35.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__desc {
    padding: 20px;
  }
}
.rs-services__label {
  display: inline-block;
  padding: 20px 40px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1439.98px) {
  .rs-services__label {
    padding-top: 16.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__label {
    padding-top: 13.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__label {
    padding-top: 10px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__label {
    padding-right: 33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__label {
    padding-right: 26.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__label {
    padding-right: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__label {
    padding-bottom: 16.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__label {
    padding-bottom: 13.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__label {
    padding-bottom: 10px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__label {
    padding-left: 33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__label {
    padding-left: 26.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__label {
    padding-left: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__label {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__label {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__label {
    font-size: 14px;
  }
}
.rs-services__block {
  border: 1px solid #b5b5b5;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1439.98px) {
  .rs-services__block {
    padding: 33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__block {
    padding: 26.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__block {
    padding: 20px;
  }
}
.rs-services__block .line-cursor {
  inset: 0% 0% 0% 0%;
}
.rs-services__block .line-cursor__line-horizontal {
  background-color: #b5b5b5;
}
.rs-event .rs-services__block .line-cursor__line-horizontal {
  background-color: transparent;
}
.rs-services__block .line-cursor__line-vertical {
  background-color: #b5b5b5;
  inset: 43.8% auto auto 50%;
}
.rs-event .rs-services__block .line-cursor__line-vertical {
  background-color: transparent;
}
.rs-event .rs-services__block .line-cursor__line svg {
  width: 44px;
  height: 44px;
  margin: -22px;
}
.rs-services__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
@media (max-width: 991.98px) {
  .rs-event .rs-services__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rs-services__head h3 {
  font-weight: 400;
  font-size: 50px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
  max-width: 340px;
}
@media (max-width: 1439.98px) {
  .rs-services__head h3 {
    font-size: 40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__head h3 {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__head h3 {
    font-size: 20px;
  }
}
.rs-event .rs-services__head h3 {
  max-width: 100%;
}
.rs-services__num {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 54px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  position: relative;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #b5b5b5;
}
@media (max-width: 1439.98px) {
  .rs-services__num {
    font-size: 25.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__num {
    font-size: 20.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__num {
    font-size: 16px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__num {
    width: 49.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__num {
    width: 44.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__num {
    width: 40px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__num {
    height: 52.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__num {
    height: 46.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__num {
    height: 40px;
  }
}
.rs-event .rs-services__num {
  width: 100px;
  height: 59px;
}
@media (max-width: 1439.98px) {
  .rs-event .rs-services__num {
    width: 93.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-event .rs-services__num {
    width: 86.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-event .rs-services__num {
    width: 80px;
  }
}
@media (max-width: 1439.98px) {
  .rs-event .rs-services__num {
    height: 52.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-event .rs-services__num {
    height: 46.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-event .rs-services__num {
    height: 40px;
  }
}
.rs-services__num::before {
  counter-increment: slider-count;
  content: counter(slider-count, decimal-leading-zero) "";
}
.rs-event .rs-services__num::before {
  display: none;
}
.rs-services__num > div:nth-child(1)::before, .rs-services__num > div:nth-child(1)::after, .rs-services__num > div:nth-child(2)::before, .rs-services__num > div:nth-child(2)::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: currentColor;
  display: block;
  -webkit-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
}
.rs-services__num > div:nth-child(1)::before, .rs-services__num > div:nth-child(2)::before {
  left: 0;
}
.rs-services__num > div:nth-child(1)::after, .rs-services__num > div:nth-child(2)::after {
  right: 0;
}
.rs-services__num > div:nth-child(1)::before, .rs-services__num > div:nth-child(1)::after {
  bottom: 0;
}
.rs-services__num > div:nth-child(2)::before, .rs-services__num > div:nth-child(2)::after {
  top: 0;
}
.rs-services__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}
@media (max-width: 991.98px) {
  .rs-event .rs-services__foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}
.rs-services__foot img {
  margin-right: -40px;
  margin-bottom: -40px;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  max-width: 56%;
}
@media (max-width: 1439.98px) {
  .rs-services__foot img {
    margin-right: -33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__foot img {
    margin-right: -26.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__foot img {
    margin-right: -20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__foot img {
    margin-bottom: -33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__foot img {
    margin-bottom: -26.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__foot img {
    margin-bottom: -20px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__foot img {
    margin-top: 10px;
  }
}
.rs-services__foot h4 {
  line-height: 140%;
}
.rs-services__foot .rs-btn {
  margin: 0px auto 0px 0px;
}