@import "../base/_mixin";

.rs-tabs {
	padding: 27px 0px;
	position: relative;
	height: 100vh;

	// .rs-tabs__tabs
	&__tabs {
		color: #fff;
		height: 100%;

		.tabs {
			// .tabs__navigation
			&__navigation {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-end;
			}

			// .tabs__title
			&__title {
				font-weight: 400;
				font-size: 50px;
				text-transform: uppercase;

				@include responsive-auto(font-size, (50, 20), (1439.98, 1169.98, 991.98));

				&::before,
				&::after {
					font-weight: inherit;
					font-size: inherit;
					display: inline-block;
					vertical-align: top;
				}

				&._tab-active {
					&::before {
						content: "[";
					}

					&::after {
						content: "]";
					}
				}
			}

			// .tabs__content
			&__content {
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 100%;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1920' height='980' viewBox='0 0 1920 980' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_4006_1345)'%3e%3crect width='1920' height='980' fill='url(%23paint0_linear_4006_1345)'/%3e%3crect width='1920' height='980' fill='url(%23paint1_linear_4006_1345)'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='paint0_linear_4006_1345' x1='1920' y1='980' x2='-2.11472e-05' y2='4.14313e-05' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.0707192' stop-color='%23002350' stop-opacity='0.3'/%3e%3cstop offset='1' stop-color='%23002350' stop-opacity='0'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_4006_1345' x1='714.5' y1='980' x2='606.5' y2='-3.11339e-06' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.763111' stop-color='%23002350' stop-opacity='0'/%3e%3cstop offset='1' stop-color='%23002350' stop-opacity='0.3'/%3e%3c/linearGradient%3e%3cclipPath id='clip0_4006_1345'%3e%3crect width='1920' height='980' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					z-index: 9;
					pointer-events: none;
				}
			}

			// .tabs__body
			&__body {
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					z-index: -1;
				}

				opacity: 0;
				display: none;
				transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
				transition-behavior: allow-discrete;

				&._tab-active {
					display: block;
					opacity: 1;

					@starting-style {
						opacity: 0;
					}
				}
			}
		}
	}

	// .rs-tabs__container
	&__container {
		position: relative;
		z-index: 10;
		height: 100%;
	}

	&__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__head,
	&__footer {
		display: flex;
		justify-content: space-between;

		img {
			@media (max-width: 991.98px) {
				max-width: 30%;
			}
		}
	}

	&__head {
		align-items: flex-start;

		img {
			margin-top: 202px;

			@include responsive-auto(margin-top, (220, 7), (1439.98, 1169.98, 991.98));
		}
	}

	&__footer {
		align-items: flex-end;
	}

	// .rs-tabs__title
	&__title {
	}

	.line-cursor {
		inset: -43% 0% 0% -53%;
	}
}
